<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>American Dollar - דולר אמריקני</key>
	<integer>1</integer>
	<key>Canadian Dollar - דולר קנדי</key>
	<real>1.35</real>
	<key>Israeli New Shekel - שקל חדש</key>
	<real>3.82</real>
	<key>Peruta - פרוטה</key>
	<real>0.01</real>
	<key>Kontrank - </key>
	<real>0.02</real>
	<key>Mesimas - </key>
	<real>0.04</real>
	<key>New item</key>
	<integer>0</integer>
</dict>
</plist>
