<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Centimeter - סנטימטר</key>
	<integer>1</integer>
	<key>Meter - מטר</key>
	<integer>100</integer>
	<key>Kilometer - קילומטר</key>
	<real>10000</real>
	<key>Milimeter - מלימטר</key>
	<real>0.1</real>
	<key>Inch - אינטש</key>
	<real>0.393701</real>
	<key>Foot - פוט</key>
	<real>30.48</real>
	<key>Yard - ירד</key>
	<real>91.44</real>
	<key>Mile - מיל</key>
	<real>160934.4</real>
	<key>Finger Breadth - אצבע</key>
	<integer>2</integer>
	<key>Hand Breadth - טפח </key>
	<integer>8</integer>
	<key>Cubit - אמה</key>
	<integer>48</integer>
	<key>Seet Capol - סיט כפול</key>
	<integer>16</integer>
	<key>Seet - סיט</key>
	<integer>8</integer>
	<key>Span - זרת</key>
	<integer>24</integer>
	<key>Reed - קנה</key>
	<integer>288</integer>
	<key>Ris (Staduim) - ריס</key>
	<integer>12800</integer>
	<key>Talmudic Mile - מיל תלמודי</key>
	<integer>9800</integer>
	<key>Persian Mile - פרסה</key>
	<real>384000</real>
	<key>Day&apos;s Walk - מלך יום</key>
	<integer>3840000</integer>
	<key>Nautical Mile - מייל ימי</key>
	<integer>185200</integer>
</dict>
</plist>
