<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Milliliter - מיליליטר</key>
	<integer>1</integer>
	<key>Liter - ליטר</key>
	<integer>1000</integer>
	<key>Centimeter³ -  ³סנטימטר</key>
	<integer>1</integer>
	<key>Meter³  - ³מטר</key>
	<integer>100000</integer>
	<key>CBeitzah - </key>
	<real>57.6</real>
	<key>Uklah</key>
	<real>69.12</real>
	<key>Tomen</key>
	<real>172.8</real>
	<key>Quarter Kav - </key>
	<real>345.6</real>
	<key>Kav -</key>
	<real>1382.4</real>
	<key>Tarkav -</key>
	<real>4147.2</real>
	<key>Se&apos;a -</key>
	<real>8294.4</real>
	<key>Kortov -</key>
	<real>5.4</real>
	<key>Log - לוג</key>
	<real>345.6</real>
	<key>Hin -</key>
	<real>4147.2</real>
	<key>Fourty Se&apos;a</key>
	<integer>331776</integer>
	<key>Homer -</key>
	<integer>248832</integer>
	<key>Kor -</key>
	<integer>248832</integer>
	<key>Letekh -</key>
	<integer>124416</integer>
	<key>Ephah -</key>
	<real>24883.2</real>
	<key>Issaron Omer -</key>
	<real>2488.32</real>
	<key>Bat - </key>
	<real>24883.2</real>
	<key>Mesura - </key>
	<integer>9</integer>
</dict>
</plist>
